{% extends 'App_main/base.html' %}
{% block main %}
    {% load static %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'assets/css/profile_style.css' %}">
    
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-3">
              <img class="img-responsive" src="{{ profile.profile_picture.url }}" alt="Profile Image">
            </div>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-6">
                  <h4 id="full_name">
                    {{ profile.full_name }} 
                    <i class="bx bx-check-circle"></i>
                  </h4>
                  <h6>
                    {{ age }} Years, {{ profile.sex}} 
                    
                  </h6>
                </div>
                <div class="col-md-6">
                </div>
              </div>
              <div class="row">
              </di>
            </div>
          </div>
          <div class="row">
          </div>
        </div>
        <div class="col-md-4 location">

        </div>
      </div>
    </div>
{% endblock %}